.frame {
    display: flex;
    flex-direction: column;
    width: 506px;
    height: 579px;
    align-items: center;
    gap: 8px;
    padding: 29px 28px;
    position: relative;
    border-radius: 8px;
    border: 2px solid;
    border-color: #1c1c1c;
}

.frame .div {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
    display: flex;
    position: relative;
}

.frame .div-wrapper {
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 24px 10px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
}

.frame .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #1c1c1c;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 60px;
    white-space: nowrap;
}

.frame .frame-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
}

.frame .div-2 {
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
}

.frame .div-3 {
    flex-direction: column;
    height: 279px;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 100%;
    display: flex;
    position: relative;
}

.frame .div-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
}

.frame .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1c1c1c;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .rectangle {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 60px;
    border-radius: 4px;
    border: 2px solid;
    border-color: #1c1c1c;
}

.frame .div-wrapper-2 {
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-bottom: -22.50px;
    display: flex;
    position: relative;
}

.frame .text-wrapper-3 {
    position: relative;
    flex: 1;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1c1c1c;
    font-size: 20px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
}

.frame .div-5 {
    align-items: center;
    gap: 90px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
}

.frame .div-wrapper-3 {
    width: 170px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 10px;
    background-color: #1c1c1c;
    border-radius: 4px;
    display: flex;
    position: relative;
}

.frame .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}
